<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <!-- BRAND -->
    <div class="navbar-brand">
      <img
        width="100px"
        src="https://res.cloudinary.com/dwusfivop/image/upload/v1595178267/logo_fj6wbr.png"
      />

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <!-- START NAV-ITEM -->
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>
        <% if (user) { %>
        <a href="/recipes/collections/<%= user._id %>" class="navbar-item"
          >Collections</a
        >
        <a href="/recipes/add" class="navbar-item">Add Recipe</a>
        <% } %>
      </div>

      <!-- END NAV-ITEM -->
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <% if(user) { %>
            <a href="/users/logout" class="button is-primary">Logout</a>
            <% } else { %>
            <a href="/users/register" class="button is-light"
              ><strong>Sign Up</strong></a
            >
            <a href="/users/login" class="button is-link"
              ><strong>Login</strong></a
            >
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
