<div class="columns is-mobile">
  <div class="column is-three-fifths is-offset-one-fifth">
    <img src="/assets/images/banner-edit.png" alt="contoh" />
    <form action="recipes/edit/<%= recipe._id %> " method="PUT">
      <div class="field">
        <div class="control">
          <section class="section" style="background-color: #cefeff;">
            <div class="columns">
              <div class="column">
                <input
                  class="input is-large"
                  type="text"
                  name="name"
                  placeholder="Title Recipe"
                  value="<%= recipe.name %>"
                />
              </div>
            </div>

            <div class="columns">
              <div class="column is-half">Portion</div>
              <div class="column is-half">
                <input
                  class="input"
                  type="number"
                  name="portion"
                  placeholder="Portion(s)"
                  value="3"
                  style="font-size: medium; font-weight: bold;"
                />
              </div>
            </div>
            <div class="columns">
              <div class="column is-half">Duration</div>
              <div class="column is-half">
                <input
                  class="input"
                  type="text"
                  name="duration"
                  placeholder="Duration"
                  value="30 min"
                  style="font-size: medium; font-weight: bold;"
                />
              </div>
            </div>
          </section>
          <br />
          <section class="section" style="background-color: #cefeff;">
            <div class="columns">
              <div class="column">
                <h2 class="title is-2">Ingredients</h2>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  class="input"
                  type="text"
                  name="ingredients"
                  placeholder="ingredients 1"
                  value="ingredients-2"
                />
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  class="input"
                  type="text"
                  name="ingredients"
                  placeholder="ingredients 2"
                  value="ingredients-2"
                />
              </div>
            </div>
          </section>
          <br />
          <section class="section" style="background-color: #cefeff;">
            <div class="columns">
              <div class="column">
                <h2 class="title is-2">Steps</h2>
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  class="input"
                  type="text"
                  name="procedures"
                  placeholder="step 1"
                  value="step-2"
                />
              </div>
            </div>
            <div class="columns">
              <div class="column">
                <input
                  class="input"
                  type="text"
                  name="procedures"
                  placeholder="step 2"
                  value="step-2"
                />
              </div>
            </div>
          </section>
          <section class="section">
            <div class="buttons is-right">
              <input class="button is-success" value="Save Changes" />
            </div>
          </section>
        </div>
      </div>
    </form>
  </div>
</div>
